{% extends 'base.html.twig' %}

{% block content %}
    <main>

        <h1>{{ agent.firstName }} {{ agent.lastName }}</h1>
        <p>Cet agent a {{ agent.age }} ans</p>

    </main>
{% endblock content %}
