{# dans le fichier twig appelé par mon controleur, j'etends le fichier base.html.twig
    cela me permet de récupérer le header, le footer, et tout le html défini dans le fichier base.html.twig

#}
{% extends 'base.html.twig' %}



{% block pageName %}
Article
{% endblock %}

{% block content %}

    {#
    le fichier base.html.twig défini un espace vide entre le header le footer grâce au block nommé "content".
    Je vais pouvoir utiliser ce block, et le remplacer par mon contenu de page
    #}

    {# j'affiche la variable article, envoyée depuis le controleur
        pour l'afficher avec la syntaxe Twig, j'utilise les doubles accolades
    #}
    <h1>{{ article }}</h1>

{% endblock content %}
