{# Je créé un fichier base.html.twig, qui contient tous les éléments communs de mes pages (header, footer, barre latérale #}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<header>

    Je suis le header et vous êtes sur la page {% block pageName %}{% endblock pageName %}


</header>

    {# je créé un block nommé "content", et situé entre la fermeture du header et l'ouverture du footer
        il va permettre de mettre le contenu centrale de chacune des pages
        Ce qui va dire que chaque page va récupérer le header et le footer de fichier base, mais chaque page
        va modifier le contenu du block content

    #}
    {% block content %}{% endblock %}

<footer>
    Je suis le footer
</footer>

</body>
</html>
