{% extends 'base.html.twig' %}

{% block pageName %}
    Accueil
{% endblock pageName %}

{% block content %}

<main>
    <h1>{{ 'Bienvenue sur mon site !' | upper }} </h1>

    <p>Ici vous trouverez une liste des intervenants de la piscine (même si on sait que le seul qui vaille le coup c'est David).</p>
</main>
{% endblock content %}

