{% extends 'base.html.twig' %}

{% block content %}
    <main>
        {% if profile.active %}
            <h1>{{ profile.firstname }} {{ profile.name }}</h1>
            <h2>Age : {{ profile.age }}</h2>
            <p>Job : {{ profile.job }}</p>
        {% else %}
            <p>Je ne peux pas dévoiler le profil de cette personne.</p>
        {% endif %}

    </main>

{% endblock content %}
