<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <main>
        {% if profile.active %}
            <h1>{{ profile.firstname }} {{ profile.name }}</h1>
            <h2>Age : {{ profile.age }}</h2>
            <p>Job : {{ profile.job }}</p>
        {% else %}
            <p>Je ne peux pas dévoiler le profil de cette personne.</p>
        {% endif %}

    </main>

</body>
</html>
