.container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

/** !!! ANTI PATTERN, A NE PAS UTILISER (SELON MOI, MAIS J'AI RAISON) !!! */
body {
  main {
    div {
      nav {
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
        }

        li {
          display: inline-block;
          a {
            span {
              i {

              }
            }
          }
        }

        a {
          display: block;
          padding: 6px 12px;
          text-decoration: none;
        }
      }
    }
  }
}



.title-article {}
